</h1> Welcome to the Gitastrophe, <%= current_user.username %></h1> <%= image_tag(current_user.avatar, class: ".col-md-4") %>

<h2> User Information : </h2>
<h4> Number of followers: <%=current_user.followers_count %>
<h4> Number of people following: <%=current_user.following_count %>
<h4> <%= link_to "View Repo", repos_path %>
